---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  namespace: {{ monitoring_namespace }}
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Mimir
        type: prometheus
        access: proxy
        url: http://mimir:{{ monitoring_mimir_port }}/prometheus
        isDefault: true
        editable: true
        jsonData:
          timeInterval: "15s"
